ion-item.selected {
    --color: var(--ion-color-primary);
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
    ion-icon {
        color: var(--ion-color-primary);
    }
}

ion-list {
    padding-top: 0;
    padding-bottom: 0;
    ion-list-header {
        padding-left: 16px;
        font-size: 0.75rem;
        font-weight: 600;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--ion-color-medium);
        margin-top: 16px;
    }
}